@model IEnumerable<OLX.Models.User.UserBuyModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        .advertisement-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .advertisement-card {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            margin: 10px;
            max-width: 300px;
            text-align: center;
            background-color: #f9f9f9;
        }

            .advertisement-card img {
                max-width: 300px;
                height: 250px;
                border-radius: 5px;
            }

        .advertisement-details h3 {
            font-size: 1.2em;
            margin: 10px 0;
        }

        .advertisement-details p {
            font-size: 0.9em;
        }
    </style>
</head>
<body>
    <div class="flex-container">
        <div class="advertisement-list">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("showAdvertiseDetails", new { advertiseId = item.advertiseId })" style="text-decoration:none; color:black">
                    <div class="advertisement-card">
                        <div class="advertisement-content">
                            @if (item.imageData != null && item.imageData.Length > 0)
                            {
                                var base64Image = Convert.ToBase64String(item.imageData);

                                <img src="data:image/png;base64, @base64Image" alt="Image" style="height:200px; width:200px" />

                            }
                            <p> @Html.DisplayFor(modelItem => item.advertiseId)</p>
                            <p> @Html.DisplayFor(modelItem => item.advertiseTitle)</p>
                            <p> @Html.DisplayFor(modelItem => item.advertisePrice)</p>
                            <p> @Html.DisplayFor(modelItem => item.advertiseDescription)</p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>

</body>
</html>