@model OLX.Models.Admin.ProductSubCategoryModeljoin

@{
    ViewBag.Title = "Add Product Subcategory";
}

<h2 style="text-align:center">Add Product Subcategory</h2>
<br />
<br />

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-group">
    @Html.LabelFor(model => model.productCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.DropDownListFor(model => model.productCategoryId, new SelectList(new[]
    {
        new SelectListItem { Value = "Select Product", Text = "Select Product" },
        new SelectListItem { Value = "1", Text = "Mobile" },
        new SelectListItem { Value = "2", Text = "Bike" },
        new SelectListItem { Value = "3", Text = "Car" }
    }, "Value", "Text"), new { id = "productCategoryId", @class = "form-control" })
    @Html.ValidationMessageFor(model => model.productCategoryId, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.productSubCategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.productSubCategoryName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.productSubCategoryName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "SubCategoryList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
